* {
    box-sizing: border-box;
    /* resize: both; */
    /* overflow: auto; */
    /* border: 1px solid red; */
}
.job-header-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(0px, auto);
    grid-gap: 10px;
    margin: 0 auto;
    position: relative;

    background: rgb(2, 0, 36);
    background: -moz-linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 15, 255, 1) 0%, rgba(43, 83, 149, 1) 100%, rgba(9, 124, 116, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 15, 255, 1) 0%, rgba(43, 83, 149, 1) 100%, rgba(9, 124, 116, 1) 100%);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 15, 255, 1) 0%, rgba(43, 83, 149, 1) 100%, rgba(9, 124, 116, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024", endColorstr="#097c74", GradientType=1);

}

.back-button {
    color: #fff;
    display: flex;   
    text-decoration: underline;                                                          
}

.back-button:hover {
    color: #fff;
}

.job-container{
    margin: 0 auto;
    float: left;
    height: 300px;
    grid-column: 1 / 8;
    position: relative;
    height: 250px;

}

/* ---------------------------- Left Menu  ----------------------------*/

.job-info {
    color: #fff; 
}

.job-info-number-description{
    display: flex;
}

.job-info-serial-number {
    font-size: 2.5rem;
    position: relative;
    margin-top: 1rem;
    border-bottom: 2.5px solid rgb(185, 184, 184);
}

.add-team-button {
    margin-left: 10rem;
    margin-bottom: 0.5rem;
}

.description {
    color: rgb(219, 216, 216);
    font-size: 1rem;
}




.job-secondary-stat {
    float: left;
    width: 23.3%;
    padding: 5px;
    margin-top: 1rem;
    font-size: 1rem;
    display: inline-block;
    border-right: 2px solid rgb(185, 184, 184);
}

.last-child {
    border-right: none;
}

.cr-no-description,
.area-description,
.type-des,
.status-description {
    display: inline;
    position: relative;
}


.statusbutton {
    color: white;
    background-color: transparent;
    border: transparent;
}







/*  ---------------------------- Right Menu list  ---------------------------- */
.job-header-list{
    grid-column: 8 / 13;
    margin: 3.5rem;
    margin-top: 1rem;
    margin-left: 8rem;
}

.job-header-list .job-info-number-description {
    color: white;
}

.rightside {
    margin-left: 1.3rem;
}


.credit-number {
    width: 30%;
}

.job-list {
    /* width: 400px; */
    height: 200px;
    padding: 10px;
    overflow-y: auto;
    background: transparent;
    color: #fff;
    font-size: 0.8rem;
}


.job-list::-webkit-scrollbar {
    -webkit-appearance: none;
}

.job-list::-webkit-scrollbar:vertical {
    width: 10px;
}

.job-list::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, .5), 50%;
}

.job-avaliability{
    display: flex;
    padding:  0.75rem;
    border-bottom: 1px solid rgb(177, 177, 177);
}

.job-list-description{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.avaliability-icon,
.job-serial-num,
.avaliability-description {
    display: inline-block;
}

.job-serial-num {
    text-decoration: underline;
}


